html,
body,
div,
ul,
li
{
    font-family: 'Microsoft YaHei';
}
div,
li,
ul,
input,
select
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,
li
{
    list-style: none;
}
/*@font-face
{
    font-family: 'webfont';

    src: url('//at.alicdn.com/t/kqbm6lvci35wmi.eot');
    src: url('//at.alicdn.com/t/kqbm6lvci35wmi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/kqbm6lvci35wmi.woff') format('woff'),
    url('//at.alicdn.com/t/kqbm6lvci35wmi.ttf') format('truetype'),
    url('//at.alicdn.com/t/kqbm6lvci35wmi.svg#思源黑体-极细') format('svg');
}
    */
.nav_banner
{
    line-height: 70px;

    position: fixed;
    z-index: 1;

    width: 100%;
    height: 70px;

    background-color: rgba(22,22,22,1);
    box-shadow: 0 0 8px 1px rgba(22,22,22,.5);
}
.nav
{
    width: 1400px;
    height: 70px;
    margin: 0 auto;

    background-color: rgba(22,22,22,1);
}
.nav_list
{
    float: left;

    width: 720px;
    height: 70px;
}
.nav_list > li
{
    font-size: 18px;

    float: right;

    width: 120px;
    height: 70px;

    cursor: pointer;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    text-align: center;
    letter-spacing: 2px;

    color: #f1f1f1;
    /*	line-height: 75px;
	border-bottom: 5px solid #f1f1f1;*/
    background-color: rgba(241,241,241,0);
}
.nav_list > li.icon:hover
{
    background-color: rgba(22,22,22,1);
}
.nav_list > li:hover
{
    color: #161616;
    background-color: rgba(241,241,241,1);
}
.main_banner
{
    position: relative;
    top: 70px;

    overflow: hidden;

    height: 1400px;
    padding: 50px 0;

    border-radius: 3px;
    background-color: #f1f1f1;
}
.main_content
{
    width: 1400px;
    height: 1300px;
    margin: 0 auto;

    background-color: #fff;
    box-shadow: 0 2px 8px 1px rgba(22,22,22,.1);
}
.moduel
{
    font-weight: 300;

    width: 1400px;
    height: 1200px;
    padding: 50px 100px;

    color: rgba(0,0,0,.5);
}
.main_jobs_moduel input
{
    font-size: 14px;
    line-height: 40px;

    width: 300px;
    height: 40px;
    margin: 20px 20px;
    padding: 0 10px;

    letter-spacing: 2px;

    border: 1px solid rgba(0,0,0,.2);
    border-radius: 2px;
    outline: none;
}
input.mid
{
    width: 280px;
}
input.small
{
	width: 150px;
}
input.moreSmall
{
    width: 100px;
    margin-right: 10px;
}
.main_jobs_moduel img
{
    float: left;

    width: 30px;
    height: 30px;
    padding: 25px;
}
select
{
    font-size: 14px;
    line-height: 40px;

    width: 150px;
    height: 40px;
    margin: 20px;
    padding: 0 10px;

    cursor: pointer;
    letter-spacing: 2px;

    color: rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 2px;
    /*    rgba(0,146,210,1);*/
    outline: none;
}
.job_description
{
	margin: 0 20px;
	width: 650px;
	height: 200px;
	resize: none;
	padding: 10px;
	outline: none;
	letter-spacing: 2px;
	font-size: 14px;
}







.botoom_banner
{
    position: relative;
    top: 70px;

    height: 200px;

    background-color: rgba(22,22,22,1);
}
.bottom_content
{
    width: 1200px;
    height: 200px;
    margin: 0 auto;

    background-color: rgba(22,22,22,1);
}
