html,
body,
div,
ul,
li
{
    font-family: 'Microsoft YaHei';
}
div,
li,
ul,
input,
select
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,
li
{
    list-style: none;
}
span.strong
{
    font-size: 22px;
    font-weight: 700;

    display: inline-block;

    margin-bottom: 20px;
}
span.float_left
{
    display: inline-block;
    float: left;
}
span.morebig
{
    font-size: 30px;

    color: #fff;
}

a.full_a
{
    display: inline-block;

    width: 100%;
    height: 100%;
}
.gray
{
    color: #aaa;
}
.blue
{
    color: rgba(0,146,210,1);
}
.big
{
    font-size: 28px;
}
.nav_banner
{
    line-height: 70px;

    position: fixed;
    z-index: 1;

    width: 100%;
    height: 70px;

    background-color: rgba(70,70,70,1);
    box-shadow: 0 0 8px 1px rgba(22,22,22,.5);
}
.nav
{
    width: 1400px;
    height: 70px;
    margin: 0 auto;

    background-color: rgba(70,70,70,1);
}
.nav_list
{
    float: left;

    width: 840px;
    height: 70px;
}
.nav_list > li
{
    font-size: 18px;

    float: left;

    width: 120px;
    height: 70px;

    cursor: pointer;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    text-align: center;
    letter-spacing: 2px;

    color: #f1f1f1;
    background-color: rgba(241,241,241,0);
}
.nav_list > li a
{
    display: inline-block;

    height: 70px;
}
.nav_list > li.icon:hover
{
    background-color: rgba(22,22,22,0);
}
.nav_list > li:hover
{
    color: #161616;
    background-color: rgba(241,241,241,1);
}
.nav_list > li:hover a
{
    color: #161616;
}
.nav_user_function
{
    float: right;

    width: 240px;
}



.nav_user_function > li
{
    line-height: 70px;

    float: left;
    overflow: hidden;

    width: 120px;
    height: 70px;

    cursor: pointer;
    -webkit-transition: background-color .3s;
         -o-transition: background-color .3s;
            transition: background-color .3s;
    text-align: center;

    color: #f1f1f1;
}
.nav_user_function > li a
{
    display: inline-block;

    box-sizing: border-box;
    width: 70px;
    height: 50px;
}
.nav_user_function > li:hover a
{
    color: rgba(241,241,241,1);
}
.nav_user_function > li.avatar
{
    overflow: hidden;

    width: 70px;
    height: 70px;
    padding: 10px;

    border-radius: 50%;
}
.nav_user_function > li.avatar img
{
    width: 50px;
    height: 50px;

    border-radius: 50%;
}
.nav_user_function > li.avatar:hover
{
    background-color: rgba(0,0,0,0);
}
.nav_user_function > li:hover .nav_user_menu
{
    height: 150px;

    opacity: 1;
}
.nav_user_menu
{
    position: absolute;
    top: 70px;

    overflow: hidden;

    width: 120px;
    height: 0;

    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;

    opacity: 0;
}
.nav_user_menu > li
{
    line-height: 50px;

    position: relative;

    width: 120px;
    height: 50px;

    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    text-align: center;

    color: rgba(241,241,241,1);
    border-left: 5px solid rgba(241,241,241,0);
    background-color: rgba(80,80,80,1);
}
.nav_user_menu a
{
    width: 100%;
}
.numofmeg
{
    font-size: 10px;
    line-height: 15px;

    position: absolute;
    top: 20%;
    left: 67%;

    width: 15px;
    height: 15px;

    text-align: center;

    border-radius: 50%;
    background-color: rgba(210,120,0,1);
}
.nav_user_menu > li:hover
{
    border-left: 5px solid rgba(0,146,220,1);
}

.main_banner
{
    position: relative;
    top: 70px;

    overflow: hidden;

    min-height: 1300px;
    padding: 50px 0;

    border-radius: 3px;
    background-color: #eee;
}
.main_content
{
    z-index: 1;

    overflow: hidden;

    width: 1400px;
    min-height: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;

    background-color: #fff;
    box-shadow: 0 0 8px 3px rgba(22,22,22,.1);
}























.moduel
{
    font-weight: 300;

    width: 1400px;
    min-height: 1200px;
    padding: 50px 80px;

    color: rgba(0,0,0,.5);
}
.main_jobs_moduel input
{
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;

    width: 300px;
    height: 40px;
    margin: 20px 20px;
    padding: 0 10px;

    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
    letter-spacing: 2px;

    color: rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 2px;
    outline: none;
}
.main_jobs_moduel input:focus
{
    border: 1px solid rgba(0,146,210,.7);
    box-shadow: 0 0 1px 1px rgba(0,148,210,.3);
}
span.job_tittle
{
    font-size: 18px;
    line-height: 48px;

    display: inline-block;

    width: 100%;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 20px;

    letter-spacing: 2px;

    border-bottom: 1px solid rgba(0,146,210,.5);
}
span.input_error_msg
{
    font-size: 14px;
    line-height: 40px;

    display: inline-block;

    height: 40px;

    color: rgba(255,0,72,1);
}
input.mid
{
    width: 280px;
}
input.small
{
    width: 150px;
}
input.moreSmall
{
    width: 100px;
    margin-right: 10px;

    letter-spacing: 0;
}
.main_jobs_moduel img
{
    float: left;

    width: 30px;
    height: 30px;
    padding: 25px;
}
select
{
    font-size: 14px;
    line-height: 40px;

    width: 150px;
    height: 40px;
    margin: 20px;
    padding: 0 10px;

    cursor: pointer;
    letter-spacing: 2px;

    color: rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 2px;
    outline: none;
}
textarea.job_description
{
    font-size: 14px;

    width: 650px;
    height: 200px;
    margin: 0 20px;
    margin-bottom: 50px;
    padding: 10px;

    resize: none;
    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
    letter-spacing: 2px;

    border-radius: 2px;
    outline: none;
}
textarea.job_description:focus
{
    border: 1px solid rgba(0,146,210,.7);
    box-shadow: 0 0 1px 1px rgba(0,148,210,.3);
}
.post_job_button
{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;

    width: 100%;
    height: 60px;
    margin: 0 auto;

    cursor: pointer;
    -webkit-transition: background-color .1s;
         -o-transition: background-color .1s;
            transition: background-color .1s;
    text-align: center;

    color: #f1f1f1;
    border-radius: 3px;
    background-color: rgba(0,146,210,1);
}
.post_job_button:hover
{
    background-color: rgba(0,146,210,.9);
}

.return_index_button
{
    font-size: 20px;
    font-weight: 300;
    line-height: 60px;

    width: 40%;
    height: 60px;
    margin: 0 auto;

    cursor: pointer;
    -webkit-transition: background-color .1s;
         -o-transition: background-color .1s;
            transition: background-color .1s;
    text-align: center;

    color: #f1f1f1;
    border-radius: 3px;
    background-color: rgba(0,146,210,1);
}
.return_index_button:hover
{
    background-color: rgba(0,146,210,.9);
}
.email_verify_message
{
    font-size: 34px;
    line-height: 300px;

    width: 1000px;
    height: 300px;
    margin: 0 auto;

    text-align: center;
}




















/*main_company_controll_moduel*/
.main_company_controll
{
    overflow: hidden;

    min-height: 1200px;
}
.main_compnay_left_banner
{
    float: left;

    width: 280px;
    height: 100%;
}
.main_compnay_left_nav
{
    overflow: hidden;

    width: 280px;
    height: 100%;

    border-right: 1px solid rgba(22,22,22,.1);
    border-radius: 3px;
}
.main_compnay_left_nav > li
{
    font-size: 18px;
    line-height: 60px;

    width: 280px;
    height: 60px;
    margin-bottom: 20px;
    padding-left: 20px;

    cursor: pointer;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    letter-spacing: 3px;

    border-left: 5px solid rgba(22,22,22,.1);
}
.main_compnay_left_nav > li:hover
{
    padding-left: 30px;

    border-left: 5px solid rgba(0,146,210,1);
}
.main_company_right_banner
{
    float: left;

    width: 920px;
    height: 100%;
    padding-left: 40px;
}
.main_company_right_banner_nav
{
            display: flex;

    -webkit-display: flex;
}
.main_company_right_banner_nav > li
{
    line-height: 50px;

    width: 80px;
    height: 50px;

    cursor: pointer;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    text-align: center;

    background-color: #eee;

    flex-grow: 1;
}
.main_company_right_banner_nav > li:hover
{
    color: #fff;
    background-color: rgba(0,146,210,1);

    flex-grow: 2;
}
.main_company_right_banner_item
{
            display: flex;

    height: 1000px;

    -webkit-display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}
.main_company_right_banner_item > li
{
    width: 1000px;
    height: 300px;

    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;

    background-color: #eee;
}
.main_company_right_banner_item > li:hover
{
    color: #fff;
    background-color: rgba(0,146,210,1);
}
.main_company_right_banner .index_single_item
{
    width: 880px;
}
















.job_des_moduel
{
    position: relative;

    overflow: hidden;

    padding: 50px 30px;
}
.job_simple_des
{
    float: left;

    width: 900px;
    min-height: 1200px;
}
.job_simple_des_tag
{
    position: relative;
    top: 20px;
    left: -20px;

    width: 950px;
    height: 100px;
    padding: 10px 0 10px 40px;

    background-color: rgba(0,146,210,1);
    box-shadow: 0 0 6px 1px rgba(22,22,22,.2);
}
.job_simple_des_tag p
{
    margin: 0;
    padding: 0;
}
.job_simple_des_tag_tan
{
    position: absolute;
    bottom: -10px;
    left: 0;

    width: 0;
    height: 0;

    border-width: 0 20px 10px 0;
    border-style: solid;
    border-color: transparent #00518a transparent transparent;
}
.line
{
    font-size: 24px;
    line-height: 30px;

    width: 900px;
    height: 30px;
    margin-bottom: 30px;

    border-bottom: 1px solid rgba(0,146,210,1);
}
.line_top
{
    font-size: 24px;
    line-height: 30px;

    width: 900px;
    height: 30px;

    border-top: 1px solid rgba(241,241,241,1);
}
.job_des_moduel p
{
    font-weight: 500;
    line-height: 30px;

    margin: 0;
    padding: 0;
}
.job_des_moduel img
{
    float: left;

    height: 100%;
    margin-right: 10px;
}
p.job_name
{
    font-size: 30px;
    line-height: 40px;

    height: 40px;

    color: rgba(241,241,241,1);
}
p.job_from
{
    font-size: 20px;

    height: 40px;

    color: rgba(241,241,241,1);
}
p.job_salary
{
    font-size: 32px;

    height: 32px;
    margin-top: 30px;

    color: #ff6f00;
}
p.job_location
{
    height: 30px;
    margin-top: 30px;
}
p.job_experience
{
    height: 30px;
    margin-top: 30px;
}
p.job_education
{
    height: 30px;
    margin-top: 30px;
}
p.job_creatat
{
    position: relative;

    display: inline-block;
    float: right;
}
p.job_description
{
    font-size: 18px;
    line-height: 36px;

    overflow: scroll;
    overflow-x: hidden;

    width: 900px;
    min-height: 250px;
    max-height: 280px;
}
p.job_advantage
{
    height: 30px;
    margin-top: 30px;
}
.job_company_description
{
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;

    width: 900px;
    min-height: 250px;
}
.company_brief
{
    font-size: 16px;

    float: left;
    overflow: scroll;
    overflow-x: hidden;

    width: 500px;
    height: 250px;
}
.job_from_location
{
    float: right;

    width: 400px;
    height: 250px;
}
.job_recommend_banner
{
    position: absolute;
    top: -50px;
    right: 40px;

    width: 400px;
    height: 432px;

    color: rgba(0,0,0,.4);
    border-bottom: 1px solid rgba(0,146,210,1);
}
.company_avatar img
{
    float: left;

    margin: 0;
}
.company_avatar_banner
{
    float: left;

    width: 80px;
    height: 80px;
    margin-right: 20px;

    border-radius: 50%;
}
.company_avatar
{
    font-size: 20px;
    font-weight: 500;
    line-height: 80px;

    width: 400px;
    height: 80px;
    margin-top: 50PX;
    margin-bottom: 30PX;
    padding: 0 80px;
}
p.p_company_info
{
    font-size: 20px;
    line-height: 50px;

    display: inline-block;

    width: 400px;
    height: 50px;
    padding-left: 90px;
}
.job_recommend_banner_tan
{
    position: absolute;
    right: 0;
    bottom: -10px;

    width: 0;
    height: 0;

    border-width: 10px 30px 0 0;
    border-style: solid;
    border-color: rgba(22,22,22,1) transparent transparent transparent;
}
.actions
{
    width: 100%;
    height: 30px;
}
.job_show_action_button
{
    font-size: 16px;
    line-height: 30px;

    float: left;
    overflow: hidden;

    width: 120px;
    height: 30px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border-radius: 3px;
    background-color: rgba(0,146,210,1);
}
.job_show_action_button:hover
{
    background-color: rgba(0,146,210,.8);
}
.edit_button
{
    margin-right: 120px;
}
.delete_button
{
    float: left;;
}
















.online_offline_nav
{
    position: relative;
    top: 30px;

    width: 100%;
    height: 80px;
}
.online_offline_nav_list
{
    width: 1300px;
    height: 80px;
    margin: 0 auto;
}
.online_offline_nav_list > li a
{
    color: rgba(255,255,255,1);
}
.online_offline_nav_list > li
{
    font-size: 24px;
    line-height: 50px;

    float: left;

    width: 650px;
    height: 50px;

    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
    text-align: center;

    color: rgba(0,0,0,.5);
    border-bottom: 1px solid rgba(0,0,0,.3);
    background-color: rgba(50,50,50,1);
}
.online_offline_nav_list > li:hover
{
    border-bottom: 1px solid rgba(0,146,210,1);
}
.index_single_item
{
    position: relative;
    top: 50px;

    overflow: hidden;

    width: 1300px;
    height: 220px;
    margin: 0 auto;
    margin-bottom: 50px;

    -webkit-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;

    border-left: 7px solid rgba(0,0,0,.2);
}
.index_single_item:hover
{
    border-left: 7px solid rgba(0,146,210,1);
}
.index_single_item a
{
    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
}
.index_single_item a:hover
{
    color: rgba(0,146,210,1);
}
.index_single_item_jobinfo
{
    position: relative;

    float: left;

    width: 900px;
    height: 220px;
    padding: 0 20px 0 50px;
}
.index_single_item_peopleinfo
{
    float: right;

    width: 180px;
    height: 220px;
}
.index_single_item_jobinfo_numofpeople
{
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;

    position: absolute;
    left: 40%;

    width: 180px;
    height: 50px;

    text-align: center;

    color: rgba(0,0,0,.5);
    border-right: 1px solid rgba(0,0,0,.1);
    border-left: 1px solid rgba(0,0,0,.1);
}
span.numofpeople
{
    font-size: 26px;

    padding: 0 10px;

    color: rgba(0,146,210,1);
}
.index_single_item_jobinfo_button
{
    font-size: 15px;
    line-height: 40px;

    position: absolute;

    width: 100px;
    height: 40px;

    cursor: pointer;
    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
    text-align: center;

    color: #fff;
    border-radius: 5px;
    background-color: rgba(0,146,210,1);
}
.index_single_item_jobinfo_edit_button
{
    left: 85%;
}
.index_single_item_jobinfo_offline_button
{
    left: 70%;

    background-color: #ff6f00;
}
.index_single_item_jobinfo_button:hover
{
    opacity: .9;
}
.index_single_item_jobinfo_button a:hover
{
    color: #fff;
}


















.botoom_banner
{
    position: relative;
    top: 70px;

    height: 200px;

    background-color: #e1e1e1;
}
.bottom_content
{
    position: relative;

    width: 1200px;
    height: 200px;
    margin: 0 auto;

    background-color: #e1e1e1;
}

.paginate_banner
{
    position: relative;
    top: 110px;

    width: 900px;
    height: 40px;
    padding-left: 50px;
}
.pagination
{
    margin: 22px 0;
    padding-left: 0;

    border-radius: 4px;
}.pagination > li
{
    display: inline;
}.pagination > li > a,
.pagination > li > span
{
    line-height: 1.6;

    position: relative;

    float: left;

    margin-left: -1px;
    padding: 6px 12px;

    text-decoration: none;

    color: #3097d1;
    border: 1px solid #ddd;
    background-color: #fff;
}.pagination > li:first-child > a,
.pagination > li:first-child > span
{
    margin-left: 0;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}.pagination > li:last-child > a,
.pagination > li:last-child > span
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    z-index: 2;

    color: #216a94;
    border-color: #ddd;
    background-color: #eee;
}.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover
{
    z-index: 3;

    cursor: default;

    color: #fff;
    border-color: #3097d1;
    background-color: #3097d1;
}.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover
{
    cursor: not-allowed;

    color: #777;
    border-color: #ddd;
    background-color: #fff;
}.pagination-lg > li > a,
.pagination-lg > li > span
{
    font-size: 18px;
    line-height: 1.3333333;

    padding: 10px 16px;
}.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span
{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span
{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}.pagination-sm > li > a,
.pagination-sm > li > span
{
    font-size: 12px;
    line-height: 1.5;

    padding: 5px 10px;
}.badge,
.label
{
    font-weight: 700;
    line-height: 1;

    text-align: center;
    white-space: nowrap;
}.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span
{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span
{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}





.notification
{
    padding-top: 50px;
    padding-right: 250px;
    padding-left: 250px;
}
.notification_head
{
    line-height: 70px;

    width: 100%;
    height: 70px;
}
.notification_head > img
{
    margin-right: 7px;
}
.notification_banner
{
    float: left;

    height: 70px;

    cursor: pointer;
    -webkit-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;

    border-bottom: 5px solid rgba(0,146,210,0);
}
.notification_banner:hover
{
    border-bottom: 5px solid rgba(0,146,210,.7);
}

.notification_content
{
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 120px;
    padding: 35px 20px;

    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
    letter-spacing: 1px;

    color: rgba(0,0,0,.7);
    border-bottom: 1px solid rgba(241,241,241,1);
    background-color: #fff;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0);
}
.notification_content:hover
{
    top: -5px;
    left: -5px;

    box-shadow: 0 0 2px 1px rgba(110,110,110,.2);
}
.notification_content > li > img
{
    margin-right: 7px;
}
.notification_message
{
    margin: 10px 0 0 0 ;
}

.notification_message > a
{
    color: dodgerblue;
}
.notification_banner > a
{
    color: #4b4b4b;
}



/*resume single*/
.resume_banner
{
    overflow: hidden;

    width: 1100px;
    min-height: 1200px;
    margin: 0 auto;

    background-color: #fff;
}
.resume_left_banner
{
    float: left;
    overflow: hidden;

    width: 300px;
    min-height: 1200px;

    background-color: #254665;
}
.resume_right_banner
{
    float: right;
    overflow: hidden;

    width: 800px;
    min-height: 1200px;

    background-color: #fff;
}
.resume_schoolexp,
.resume_projectexp,
.resume_jobexp,
.resume_priceandessay
{
    font-size: 14px;
    line-height: 28px;

    width: 100%;
    min-height: 300px;
    padding: 30px;

    letter-spacing: 1px;

    color: rgba(0,0,0,.7);
}
.resume_content
{
    padding-left: 20px;

    border-left: 1px solid #245655;
}
.resume_base,
.resume_skill,
.resume_selfdes
{
    position: relative;
}
.resume_tittle
{
    font-size: 16px;

    position: absolute;
    top: -15px;
    left: 33%;

    padding: 0 10px;

    color: rgba(241,241,241,1);
    background-color: #254665;
}
.resume_exptittle
{
    font-size: 24px;
    line-height: 40px;

    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    padding-bottom: 10px;

    color: #254665;
    border-bottom: 3px solid #254665;
}
.resume_exptittle img
{
    float: left;

    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.resume_timetittle
{
    font-size: 20px;
    font-weight: 500;

    position: relative;
    top: -10px;
    left: -23px;

    margin-bottom: 20px;
    padding-left: 25px;

    color: #254665;
}
.resume_round
{
    position: absolute;
    top: 8px;
    left: -2px;

    width: 10px;
    height: 10px;

    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: #245655;
}
.resume_avatar
{
    position: relative;

    overflow: hidden;

    width: 160px;
    height: 160px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;

    border: 5px solid #aaa;
    border-radius: 50%;
    background-color: #fff;
}
.resume_avatar img
{
    width: 100%;
    height: 100%;
}
.resume_hope
{
    font-size: 14px;

    width: 70%;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 80px;

    text-align: center;

    color: rgba(241,241,241,1);
}
.resume_base,
.resume_skill,
.resume_selfdes
{
    font-size: 14px;

    width: 90%;
    margin: 0 auto;

    color: rgba(241,241,241,1);
    border-top: 5px solid #fff;
}
.resume_base
{
    height: 400px;
    padding-top: 20px;
}
.resume_base p
{
    font-size: 14px;
    line-height: 40px;

    display: block;

    box-sizing: border-box;
    height: 50px;
    padding: 5px 0;
    padding-left: 20px;
}
.resume_base img
{
    float: left;

    width: 40px;
    min-height: 40px;
    margin-right: 20px;
}
.resume_skill,
.resume_selfdes
{
    line-height: 32px;

    min-height: 210px;
    padding: 20px;

    letter-spacing: 1px;
}



/*resume thumb*/
.admin_resume_thumb_banner
{
    overflow: hidden;

    width: 100%;
    height: 100%;
    padding: 40px;
}
.admin_resume_nav
{
    font-size: 24px;
    line-height: 50px;

    width: 100%;
    height: 50px;
    margin-bottom: 50px;

    text-align: center;
    letter-spacing: 2px;

    color: #fff;
    background-color: rgba(22,22,22,1);
}

.admin_resume_thumb
{
    float: left;
    overflow: hidden;

    box-sizing: content-box;
    width: 800px;
    height: 190px;
    margin-top: 30px;
    margin-bottom: 50px;

    border-radius: 2px;
}
.resume_base_thumb_pic
{
    float: left;

    width: 180px;
    height: 190px;
}
.resume_avatar_thumb
{
    position: relative;

    overflow: hidden;

    width: 140px;
    height: 140px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;

    border: 5px solid rgba(0,0,0,.1);
    border-radius: 50%;
    background-color: #fff;
}
.resume_base_thumb
{
    font-size: 14px;

    float: left;

    width: 250px;
    height: 100%;

    color: #254665;
}
.resume_base_thumb p
{
    font-size: 14px;
    line-height: 50px;

    display: block;

    box-sizing: border-box;
    height: 50px;
    margin: 10px 0;
    padding-left: 20px;

    color: #254665;
}
.resume_base_thumb img
{
    float: left;

    width: 40px;
    min-height: 40px;
    margin-right: 20px;
}
.resume_info_button
{
    font-size: 16px;
    line-height: 40px;

    width: 150px;
    height: 40px;
    margin-left: 25px;

    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
    text-align: center;

    border-radius: 5px;
    background-color: rgba(0,146,210,1);
}
.resume_info_button:hover
{
    background-color: rgba(0,146,210,.9);
}
.action_button_banner
{
    float: right;

    width: 120px;
    height: 100%;
}

.resumes_modeul
{
    padding-top: 50px;
}
