html,
body,
div,
ul,
li
{
    font-family: 'Microsoft YaHei';
}
ul,
li
{
    list-style: none;
}
div,
li,
ul,
input,
textarea
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    background-color: rgba(241,241,241,1);
}
select
{
    font-size: 14px;
    line-height: 40px;

    width: 100px;
    height: 40px;
    margin: 0 0 30px 20px;
    padding: 0 5px;

    cursor: pointer;
    letter-spacing: 1px;

    color: rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 2px;
    outline: none;
}
input:focus
{
    outline: none;
}
input.nomarginbottom,
textarea.nomarginbottom
{
    margin-bottom: 0;
}
textarea:focus
{
    outline: none;
}
span.strong
{
    font-size: 22px;
    font-weight: 700;

    display: inline-block;

    margin-bottom: 20px;
}
span.float_left
{
    display: inline-block;
    float: left;
}
span.morebig
{
    font-size: 30px;

    color: #fff;
}
a
{
    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
}
a.full_a
{
    display: inline-block;

    width: 100%;
    height: 100%;
}
p
{
    overflow: hidden;
}
p.marginnone
{
    margin: 0;
}
p.margin15
{
    margin: 25px 0;
}
p.left
{
    display: inline-block;
    float: left;
}
p.right
{
    display: inline-block;
    float: right;
}
div.per20
{
    position: relative;

    float: left;

    width: 20%;
    height: 100%;
}
div.per33
{
    position: relative;

    float: left;

    width: 33%;
    height: 100%;
}
div.per50
{
    position: relative;

    float: left;

    width: 50%;
    height: 100%;
}
div.per70
{
    position: relative;

    float: left;

    width: 70%;
    height: 100%;
}
div.per80
{
    position: relative;

    float: left;

    width: 80%;
    height: 100%;
}
.blur
{
    -webkit-filter: blur(3px);
       -moz-filter: blur(3px);
        -ms-filter: blur(3px);
            filter: blur(3px);
}
.display_none
{
    display: none;
}
.gray
{
    color: rgba(0,0,0,.7);
}
.black
{
    color: rgba(22,22,22,1);
}
.orange
{
    color: #ff6f00;
}
.blue
{
    color: rgba(0,146,210,1);
}
.strong_my
{
    font-weight: 700;
}
.big
{
    font-size: 24px;
}
.inline_block_a
{
    line-height: 21px;

    position: relative;
    top: 3px;

    display: inline-block;
    overflow: hidden;

    width: 50%;
    height: 21px;
}
.text_align_l
{
    display: inline-block;

    width: 100%;

    text-align: left;
}
.text_align_r
{
    display: inline-block;

    width: 100%;

    text-align: right;
}
.black_bgcolor
{
    background-color: rgba(22,22,22,1);
}
.gray_bgcolor
{
    background-color: #eee;
}
.full_small_nav
{
    line-height: 40px;

    width: 100%;
    height: 40px;
    margin-top: 40px;

    text-align: center;

    color: rgba(255,255,255,1);
}
.mid_marginbottom
{
    margin-bottom: 50px;
}
.right_padding
{
    padding-right: 20px;
}
.left_padding
{
    padding-left: 20px;
}
.left_border
{
    border-left: 1px solid rgba(0,0,0,.2);
}
.right_border
{
    border-right: 1px solid rgba(0,0,0,.2);
}


.user_nav_banner
{
    position: fixed;
    z-index: 2;
    top: 0;

    width: 100%;
    height: 60px;

    color: rgba(241,241,241,1);
    background-color: rgba(22,22,22,1);
    box-shadow: 0 0 5px 1px rgba(22,22,22,.5);
}
.user_nav_content
{
    width: 1400px;
    height: 60px;
    margin: 0 auto;
}
.user_nav_search_function
{
    float: left;

    height: 60px;
}
.user_nav_search_function > li
{
    line-height: 60px;

    float: left;

    height: 60px;
    padding: 0 20px;

    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
    text-align: center;
}
#web_icon
{
    padding: 10px;
}

#search_button
{
    padding: 10px;
}
#search_button img
{
    width: 30px;
    height: 30px;

    cursor: pointer;
}
button.serach_button_submit
{
    display: none;
}
input.search_input
{
    font-size: 14px;
    font-weight: 300;

    width: 240px;
    height: 30px;
    padding: 0 10px;

    letter-spacing: 2px;

    color: rgba(150,150,150,1);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
}
input.search_input:focus
{
    border: 1px solid rgba(0,146,210,1);
    box-shadow: 0 0 5px 1px rgba(0,146,210,1);
}
.user_nav_user_function
{
    float: right;

    height: 60px;
}
.user_nav_user_function > li
{
    line-height: 60px;

    float: left;

    height: 60px;
    padding: 0 20px;

    text-align: center;
}
.avatar_banner
{
    overflow: hidden;

    width: 40px;
    height: 40px;

    border-radius: 50%;
}
.user_nav_user_function > li.avatar
{
    overflow: hidden;

    width: 60px;
    height: 60px;
    padding: 10px;

    border-radius: 50%;
}
.user_nav_user_function > li.avatar img
{
    width: 40px;
    height: 40px;
}
.user_main_banenr
{
    width: 100%;
    min-height: 1200px;
    padding-top: 120px;
    padding-bottom: 60px;

    background-color: rgba(241,241,241,1);
}
.user_main_content
{
    display: flex;

    width: 1400px;
    min-height: 1000px;
    margin: 0 auto;

    justify-content: space-between;
}
.user_main_left_content
{
    overflow: hidden;

    width: 1000px;
    min-height: 1000px;
    padding: 40px 50px 0 50px;

    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(22,22,22,.1);
}
.user_main_right_content_banner
{
    position: relative;
}
.user_main_right_content
{
    position: relative;
    /*    overflow: scroll;
    overflow-x: hidden;*/

    overflow: hidden;

    width: 350px;
    min-height: 500px;
    max-height: 1000px;
    padding: 30px;

    color: rgba(0,0,0,.7);
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(22,22,22,.1);
}
.login_button_posa_banner
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 350px;
    height: 1000px;
}
.login_button_posa
{
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;

    position: absolute;
    z-index: 2;
    top: 0;
    top: 45%;
    left: 18%;

    margin: 0 auto;

    cursor: pointer;
    text-align: center;

    color: rgba(0,0,0,.7);
    border-radius: 5px;
}
.user_main_right_content .p
{
    font-size: 15px;
    line-height: 30px;

    float: right;

    width: 50%;
    height: 30px;
    margin-top: 20px;
}
.user_main_right_content_tittle
{
    font-size: 24px;
    line-height: 50px;

    width: 100%;
    height: 50px;

    text-align: center;
    letter-spacing: 5px;

    color: rgba(241,241,241,1);
    background-color: rgba(22,22,22,1);
}
.user_main_right_content_pic
{
    float: left;
    clear: both;

    width: 45%;
    height: 180px;
    margin-top: 20px;
}
.user_main_right_content_pic img
{
    width: 100%;
    height: 100%;
}
.user_main_right_content_user_info
{
    float: left;
    overflow: hidden;

    width: 100%;
    min-height: 200px;
    margin-top: 30px;
}
.user_main_right_content_user_info_item
{
    position: relative;

    width: 100%;
    min-height: 180px;
    margin-left: 10px;
    padding-top: 20px;
    padding-left: 20px;

    border-left: 2px solid rgba(0,0,0,.2);
}
.user_main_right_content_user_info_item .round
{
    position: absolute;
    top: 32px;
    left: -5px;

    width: 9px;
    height: 9px;

    border: 2px solid #ddd;
    border-radius: 50%;
    background-color: rgba(0,146,210,1);
}
.user_main_right_content_user_projectexp,
.user_main_right_content_user_jobexp,
.user_main_right_content_user_selfdes
{
    padding-right: 30px;

    color: rgba(0,0,0,.5);
}
.resume_small_edit_button
{
    line-height: 30px;

    float: left;

    width: 100%;
    height: 30px;
    margin-top: 50px;

    cursor: pointer;
    -webkit-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
    text-align: center;

    color: rgba(241,241,241,1);
    background-color: rgba(0,146,210,1);
}
.resume_small_edit_button:hover
{
    background-color: rgba(0,146,210,.8);
}








.user_main_job_level1
{
    width: 900px;
    min-height: 28px;
    max-height: 144px;
    margin-top: 5px;

    border-left: 5px solid rgba(0,0,0,.7);
}
.user_main_job_level2
{
    width: 900px;
    min-height: 28px;
    max-height: 144px;
    margin-top: 5px;

    border-left: 5px solid rgba(0,0,0,.7);
}
.user_main_job_key
{
    width: 900px;
    min-height: 28px;
    max-height: 144px;
    margin-top: 5px;

    border-left: 5px solid rgba(0,0,0,.7);
}
.user_main_job_keylist
{
    display: flex;
    overflow: hidden;

    width: 900px;
    min-height: 28px;
    max-height: 144px;

    flex-wrap: wrap;
}
.user_main_job_keylist li
{
    font-size: 15px;
    line-height: 28px;

    height: 28px;
    margin-left: 20px;
    padding: 0 10px;

    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
    text-align: center;

    color: rgba(0,0,0,.8);
}
.user_main_job_keylist li:hover
{
    color: rgba(241,241,241,1);
    background-color: rgba(0,146,210,1);
}
.li_nohover_bgcolor:hover
{
    color: rgba(0,0,0,.8) !important;
    background-color: rgba(0,0,0,0) !important;
}
.user_main_job_keylist_order
{
    display: flex;
    overflow: hidden;

    width: 900px;
    min-height: 40px;
    max-height: 144px;

    flex-wrap: wrap;
}
.user_main_job_keylist_order a
{
    display: inline-block;

    padding: 0 10px;
}
.user_main_job_keylist_order li
{
    font-size: 15px;
    line-height: 40px;

    min-width: 70px;
    height: 40px;
    padding: 0 10px;

    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
    text-align: center;
}
.user_main_job_keylist_order a:hover
{
    color: #fff;
    background-color: rgba(0,146,210,1);
}







.user_single_item
{
    top: 50px;

    float: left;
    overflow: hidden;

    width: 450px;
    height: 180px;
    margin-top: 50px;

    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;

    border-left: 5px solid rgba(0,0,0,.7);
}
.user_single_item:hover
{
    border-left: 5px solid rgba(0,146,210,1);
}
.user_single_item a
{
    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
}
.user_single_item_jobinfo
{
    position: relative;

    float: left;

    width: 450px;
    height: 180px;
    padding: 0 20px 0 30px;
}
.user_single_item_jobinfo p
{
    font-size: 15px;

    overflow: hidden;

    height: 21px;
    padding-right: 10px;

    white-space: nowrap;
}

.user_main_single_jobinfo_button
{
    font-size: 14px;
    line-height: 32px;

    position: relative;

    width: 120px;
    height: 32px;

    cursor: pointer;
    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
    text-align: center;

    color: #fff;
    border-radius: 5px;
    background-color: rgba(0,146,210,.8);
}
.user_main_single_advance
{
    line-height: 32px;

    position: absolute;
    left: 37%;

    max-width: 220px;
    height: 32px;
    padding: 0 10px;

    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;

    color: rgba(255,255,255,.8);
    background-color: rgba(0,146,210,1);
}
.user_main_single_advance_tag_tan
{
    position: absolute;
    top: 0;
    left: -15px;

    width: 0;
    height: 0;

    border-width: 16px 15px 16px 0;
    border-style: solid;
    border-color: transparent rgba(0,146,210,1) transparent transparent;
}
.user_main_single_jobinfo_button a:hover
{
    color: rgba(255,255,255,1);
}


















.index_single_item
{
    float: left;
    overflow: hidden;

    width: 900px;
    height: 130px;
    margin-bottom: 50px;

    -webkit-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;

    border-left: 5px solid rgba(0,0,0,.2);
}
.index_single_item:hover
{
    border-left: 5px solid rgba(0,146,210,1);
}
.index_single_item a
{
    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
}
.index_single_item_jobinfo
{
    position: relative;

    float: left;

    width: 900px;
    height: 130px;
    padding: 0 20px 0 50px;
}
.index_single_item_jobinfo .small
{
    width: 100px;
}
.index_single_item_jobinfo_salary
{
    font-size: 30px;
    line-height: 30px;

    position: absolute;
    top: 0;
    right: 42%;

    width: 200px;
    height: 30px;
}
.index_single_item_jobinfo_button
{
    font-size: 15px;
    line-height: 40px;

    position: absolute;

    width: 100px;
    height: 40px;

    cursor: pointer;
    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
    text-align: center;

    color: #fff;
    border-radius: 5px;
    background-color: rgba(0,146,210,1);
}






















.paginate
{
    line-height: 80px;

    overflow: hidden;

    box-sizing: content-box;
    width: 900px;
    height: 80px;
    padding-top: 20px;
}
.pagination
{
    margin: 22px 0;
    padding-left: 0;

    border-radius: 4px;
}.pagination > li
{
    display: inline;
}.pagination > li > a,
.pagination > li > span
{
    line-height: 1.6;

    position: relative;

    float: left;

    margin-left: -1px;
    padding: 6px 12px;

    text-decoration: none;

    color: #3097d1;
    border: 1px solid #ddd;
    background-color: #fff;
}.pagination > li:first-child > a,
.pagination > li:first-child > span
{
    margin-left: 0;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}.pagination > li:last-child > a,
.pagination > li:last-child > span
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    z-index: 2;

    color: #216a94;
    border-color: #ddd;
    background-color: #eee;
}.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover
{
    z-index: 3;

    cursor: default;

    color: #fff;
    border-color: #3097d1;
    background-color: #3097d1;
}.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover
{
    cursor: not-allowed;

    color: #777;
    border-color: #ddd;
    background-color: #fff;
}.pagination-lg > li > a,
.pagination-lg > li > span
{
    font-size: 18px;
    line-height: 1.3333333;

    padding: 10px 16px;
}.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span
{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span
{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}.pagination-sm > li > a,
.pagination-sm > li > span
{
    font-size: 12px;
    line-height: 1.5;

    padding: 5px 10px;
}.badge,
.label
{
    font-weight: 700;
    line-height: 1;

    text-align: center;
    white-space: nowrap;
}.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span
{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span
{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

















.resume_model
{
    overflow: hidden;

    width: 78%;
    min-height: 800px;
    padding: 40px;

    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(100,100,100,.1);
}
.resume_model_edit
{
    overflow: hidden;

    width: 20%;
    min-height: 800px;
    max-height: 1200px;

    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(100,100,100,.1);
}
.resume_model_edit_list
{
    position: relative;

    float: left;
    overflow: hidden;

    width: 100%;
    min-height: 40px;
    padding: 20px 20px 0 20px;
}
.resume_model_edit_list > li
{
    line-height: 40px;

    position: relative;

    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;

    cursor: pointer;

    border-bottom: 1px solid rgba(241,241,241,1);
}
.submit_resume_button_trigger
{
    font-size: 18px;
    line-height: 40px;

    float: left;

    width: 180px;
    height: 40px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border-radius: 5px;
    background-color: rgba(0,146,210,1);
}
.see_resume_button
{
    font-size: 18px;
    line-height: 40px;

    float: right;

    width: 180px;
    height: 40px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border-radius: 5px;
    background-color: rgba(0,146,210,1);
}
.button_banner
{
    overflow: hidden;

    width: 700px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
}






.single_info_banner input
{
    font-size: 14px;

    width: 350px;
    height: 35px;
    margin-bottom: 25px;
    margin-left: 20px;
    padding: 0 10px;

    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;

    color: rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
}
.single_info_banner textarea
{
    font-size: 16px;

    width: 80%;
    height: 120px;
    margin-top: 20px;
    padding: 10px 10px;

    resize: none;
    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
    letter-spacing: 1px;

    color: rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
}
.single_info_banner input.small
{
    width: 150px;
}
.single_info_banner input.mid
{
    width: 300px;
}
.single_info_banner input.big
{
    width: 500px;
}
.single_info_banner input:focus
{
    border: 1px solid rgba(0,146,210,.6);
    box-shadow: 0 0 3px 1px rgba(0,146,210,.6);
}
.single_info_banner textarea:focus
{
    border: 1px solid rgba(0,146,210,.6);
    box-shadow: 0 0 3px 1px rgba(0,146,210,.6);
}
.single_info_banner
{
    overflow: hidden;

    width: 100%;
    padding: 30px;

    color: rgba(0,0,0,.5);
}
.resume_user_base_info_banner
{
    height: 355px;
}
.resume_user_edu_info_banner,
.resume_user_project_info_banner,
.resume_user_schoolexp_info_banner,
.resume_user_company_info_banner,
{
    height: 260px;
}
.resume_user_hope_info_banner
{
    height: 155px;
}
.resume_user_price_info_banner,
.resume_user_self_info_banner,
.resume_user_essay_info_banner,
.resume_user_skill_info_banner
{
    height: 225px;
}
.resume_user_base_info,
.resume_user_project_info,
.resume_user_edu_info,
.resume_user_hope_info,
.resume_user_schoolexp_info,
.resume_user_company_info,
.resume_user_price_info,
.resume_user_skill_info,
.resume_user_self_info,
.resume_user_essay_info
{
    padding-left: 50px;

    border-left: 5px solid rgba(0,0,0,.2);
}
.resume_user_pic
{
    position: relative;

    float: left;
    overflow: hidden;

    width: 20%;
    height: 285px;

    cursor: pointer;

    background-color: #eee;
}
.resume_user_pic img
{
    width: 100%;
    height: 285px;
}




.checkcube
{
    position: absolute;
    top: 10px;
    right: 10px;

    width: 20px;
    height: 20px;

    cursor: pointer;
    -webkit-transition: all .4s;
         -o-transition: all .4s;
            transition: all .4s;

    border: 3px solid rgba(241,241,241,1);
}
.checkcube_checked
{
    top: 10px;

    width: 20px;
    height: 12px;

    -webkit-transform: rotate(-50deg);
        -ms-transform: rotate(-50deg);
         -o-transform: rotate(-50deg);
            transform: rotate(-50deg);

    border-top: 3px solid rgba(0,146,210,0);
    border-right: 3px solid rgba(0,146,210,0);
    border-bottom: 3px solid rgba(0,146,210,1);
    border-left: 3px solid rgba(0,146,210,1);
}

.job_des_moduel
{
    position: relative;

    overflow: hidden;

    padding: 50px 30px;
}
.job_simple_des
{
    float: left;

    width: 900px;
    min-height: 800px;
}
.job_simple_des_tag
{
    position: relative;
    top: 20px;
    left: -20px;

    width: 950px;
    height: 100px;
    padding: 10px 0 10px 40px;

    background-color: rgba(0,146,210,1);
    box-shadow: 0 0 6px 1px rgba(22,22,22,.2);
}
.job_simple_des_tag p
{
    margin: 0;
    padding: 0;
}
.job_simple_des_tag_tan
{
    position: absolute;
    bottom: -10px;
    left: 0;

    width: 0;
    height: 0;

    border-width: 0 20px 10px 0;
    border-style: solid;
    border-color: transparent #00518a transparent transparent;
}
.line
{
    font-size: 24px;
    line-height: 30px;

    width: 900px;
    height: 30px;
    margin-bottom: 30px;

    border-bottom: 1px solid rgba(0,146,210,1);
}
.job_des_moduel p
{
    font-weight: 500;
    line-height: 30px;

    margin: 0;
    padding: 0;
}
.job_des_moduel img
{
    float: left;

    height: 100%;
    margin-right: 10px;
}
p.job_name
{
    font-size: 30px;
    line-height: 40px;

    height: 40px;

    color: rgba(241,241,241,1);
}
p.job_from
{
    font-size: 20px;

    height: 40px;

    color: rgba(241,241,241,1);
}
p.job_salary
{
    font-size: 32px;

    height: 32px;
    margin-top: 30px;

    color: #ff6f00;
}
p.job_location
{
    height: 30px;
    margin-top: 30px;
}
p.job_experience
{
    height: 30px;
    margin-top: 30px;
}
p.job_education
{
    height: 30px;
    margin-top: 30px;
}
p.job_creatat
{
    position: relative;

    display: inline-block;
    float: right;
}
p.job_description
{
    font-size: 18px;
    line-height: 36px;

    overflow: scroll;
    overflow-x: hidden;

    width: 900px;
    min-height: 250px;
    max-height: 280px;
}
p.job_advantage
{
    height: 30px;
    margin-top: 30px;
}
.job_company_description
{
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;

    width: 900px;
    min-height: 250px;
}

.company_brief
{
    font-size: 16px;

    float: left;
    overflow: scroll;
    overflow-x: hidden;

    width: 500px;
    height: 250px;
}
.job_from_location
{
    float: right;

    width: 400px;
    height: 250px;
}
.job_recommend_banner
{
    position: absolute;
    top: -50px;
    right: 40px;

    width: 400px;
    height: 432px;

    color: rgba(0,0,0,.4);
    border-bottom: 1px solid rgba(0,146,210,1);
}
.company_avatar img
{
    float: left;

    margin: 0;
}
.company_avatar_banner
{
    float: left;

    width: 80px;
    height: 80px;
    margin-right: 20px;

    border-radius: 50%;
}
.company_avatar
{
    font-size: 20px;
    font-weight: 500;
    line-height: 80px;

    width: 400px;
    height: 80px;
    margin-top: 50PX;
    margin-bottom: 30PX;
    padding: 0 80px;
}
p.p_company_info
{
    font-size: 20px;
    line-height: 50px;

    display: inline-block;

    width: 100%;
    height: 50px;
    padding-left: 90px;
}
.job_recommend_banner_tan
{
    position: absolute;
    right: 0;
    bottom: -10px;

    width: 0;
    height: 0;

    border-width: 10px 30px 0 0;
    border-style: solid;
    border-color: rgba(22,22,22,1) transparent transparent transparent;
}

.normal_button
{
    font-size: 24px;
    line-height: 60px;

    width: 200px;
    height: 60px;
    margin-bottom: 30px;

    cursor: pointer;
    -webkit-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
    text-align: center;

    color: #fff;
    border: 1px solid rgba(255,255,255,1);
    border-radius: 5px;
    background-color: #ff6f00;
}

.normal_button:focus
{
    outline: none;
}
.sendresume_button.normal_button:hover
{
    opacity: .9;
}
.follow_button
{
    background-color: rgba(0,146,210,1);
}

.followed_button
{
    background-color: rgba(180,180,180,1);
}

.job_des_moduel_buttons
{
    position: absolute;
    top: 500px;
    right: 40px;

    width: 400px;
    height: 200px;
}
.job_des_moduel_buttons_banner
{
    overflow: hidden;

    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding-top: 30px;
}





.main_content
{
    position: relative;
    z-index: 1;

    width: 1400px;
    min-height: 800px;
    margin: 0 auto;
    padding-bottom: 50px;

    background-color: #fff;
    box-shadow: 0 0 8px 3px rgba(22,22,22,.1);
}










/*resume single*/
.resume_banner
{
    overflow: hidden;

    width: 1100px;
    min-height: 1556px;
    margin: 0 auto;

    background-color: #fff;
}
.resume_left_banner
{
    float: left;
    overflow: hidden;

    width: 300px;
    min-height: 1556px;

    background-color: #254665;
}
.resume_right_banner
{
    float: right;
    overflow: hidden;

    width: 800px;
    min-height: 1556px;

    background-color: #fff;
}

.resume_schoolexp,
.resume_projectexp,
.resume_jobexp,
.resume_priceandessay
{
    font-size: 14px;
    line-height: 28px;

    width: 100%;
    min-height: 300px;
    padding: 30px;

    letter-spacing: 1px;

    color: rgba(0,0,0,.7);
}
.resume_content
{
    min-height: 180px;
    padding-left: 20px;

    border-left: 1px solid #245655;
}
.resume_base,
.resume_skill,
.resume_selfdes
{
    position: relative;
}
.resume_tittle
{
    font-size: 16px;

    position: absolute;
    top: -15px;
    left: 33%;

    padding: 0 10px;

    color: rgba(241,241,241,1);
    background-color: #254665;
}
.resume_exptittle
{
    font-size: 24px;
    line-height: 40px;

    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    padding-bottom: 10px;

    color: #254665;
    border-bottom: 3px solid #254665;
}
.resume_exptittle img
{
    float: left;

    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.resume_timetittle
{
    font-size: 20px;
    font-weight: 500;

    position: relative;
    top: -10px;
    left: -23px;

    margin-bottom: 20px;
    padding-left: 25px;

    color: #254665;
}
.resume_round
{
    position: absolute;
    top: 8px;
    left: -2px;

    width: 10px;
    height: 10px;

    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: #245655;
}

.resume_avatar
{
    position: relative;

    overflow: hidden;

    width: 160px;
    height: 160px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;

    border: 5px solid #aaa;
    border-radius: 50%;
    background-color: #fff;
}
.resume_avatar img
{
    width: 100%;
    height: 100%;
}
.resume_hope
{
    font-size: 14px;

    width: 70%;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 80px;

    text-align: center;

    color: rgba(241,241,241,1);
}
.resume_base,
.resume_skill,
.resume_selfdes
{
    font-size: 14px;

    width: 90%;
    margin: 0 auto;

    color: rgba(241,241,241,1);
    border-top: 5px solid #fff;
}
.resume_base
{
    height: 400px;
    padding-top: 20px;
}
.resume_base p
{
    font-size: 14px;
    line-height: 40px;

    display: block;

    box-sizing: border-box;
    height: 50px;
    padding: 5px 0;
    padding-left: 20px;
}
.resume_base img
{
    float: left;

    width: 40px;
    min-height: 40px;
    margin-right: 20px;
}
.resume_skill,
.resume_selfdes
{
    line-height: 32px;

    min-height: 210px;
    padding: 20px;

    letter-spacing: 1px;
}







.user_info_all_banner
{
    display: flex;

    width: 1200px;
    min-height: 800px;
    margin: 0 auto;

    flex-wrap: nowrap;
    justify-content: space-between;
}
.user_info_left_banner
{
    float: left;
    overflow: hidden;

    width: 20%;
    min-height: 100px;
    padding: 50px 0;

    color: rgba(0,0,0,.7);
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
}
form.input_banner
{
    position: relative;

    width: 200px;
    height: 300px;
    margin: 0 auto;
}
.user_info_left_banner input
{
    line-height: 35px;

    width: 200px;
    height: 35px;
    margin-top: 20px;
    padding: 0 10px;

    color: rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
}
.user_info_left_banner input:focus
{
    border: 1px solid rgba(0,146,210,1);
}
.user_info_right_banner
{
    padding: 50px;
    float: left;
    overflow: hidden;

    width: 75%;
    min-height: 100px;

    color: rgba(0,0,0,.7);
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
}
.user_info_left_banner p
{
    text-align: center;
}
button.upload_avatar
{
    width: 100px;
    height: 30px;
    margin-bottom: 30px;

    cursor: pointer;
    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;

    color: rgba(241,241,241,1);
    border: 1px solid rgba(0,146,210,1);
    border-radius: 3px;
    background-color: rgba(0,146,210,1);
}
button.upload_avatar:focus
{
    outline: none;
}
button.upload_avatar:hover
{
    border: 1px solid rgba(0,146,210,.9);
    background-color: rgba(0,146,210,.9);
}
button.edit_user_info
{
    position: absolute;
    left: 25%;

    width: 100px;
    height: 30px;
    margin-top: 30px;

    cursor: pointer;
    -webkit-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;

    color: rgba(241,241,241,1);
    border: 1px solid rgba(0,146,210,1);
    border-radius: 3px;
    background-color: rgba(0,146,210,1);
}
button.edit_user_info:focus
{
    outline: none;
}
button.edit_user_info:hover
{
    border: 1px solid rgba(0,146,210,.9);
    background-color: rgba(0,146,210,.9);
}



































.user_bottom_banner
{
    position: relative;
    top: 60px;

    width: 100%;

    background-color: rgba(22,22,22,1);
}
.user_bottom_content
{
    width: 1400px;
    height: 200px;
    margin: 0 auto;
}

/*--------------------------------------------------*/
.user_main_block_content
{
    overflow: hidden;

    width: 1400px;
    height: 160px;
    padding: 40px 50px 0 50px;

    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(22,22,22,.1);
}
