html,
body,
div,
ul,
li
{
    font-family: 'Microsoft YaHei';
}
ul,
li
{
    list-style: none;
}
div,
li,
ul,
input
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
span.strong
{
    font-size: 22px;
    font-weight: 700;

    display: inline-block;

    margin-bottom: 20px;
}
span.float_left
{
    display: inline-block;
    float: left;
}
span.morebig
{
    font-size: 30px;

    color: #fff;
}
a.full_a
{
    display: inline-block;

    width: 100%;
    height: 100%;
}
p
{
    overflow: hidden;
}
p.marginnone
{
    margin: 0;
}
p.margin15
{
    margin: 25px 0;
}
p.left
{
    display: inline-block;
    float: left;
}
p.right
{
    display: inline-block;
    float: right;
}
div.per50
{
    position: relative;

    float: left;

    width: 50%;
    height: 100%;
}
.gray
{
    color: rgba(0,0,0,.7);
}
.black
{
    color: rgba(22,22,22,1);
}
.orange
{
    color: #ff6f00;
}
.blue
{
    color: rgba(0,146,210,1);
}
.strong_my
{
    font-weight: 700;
}
.big
{
    font-size: 24px;
}
.text_align_l
{
    display: inline-block;

    width: 100%;

    text-align: left;
}
.text_align_r
{
    display: inline-block;

    width: 100%;

    text-align: right;
}
.black_bgcolor
{
    background-color: rgba(22,22,22,1);
}
.gray_bgcolor
{
    background-color: #eee;
}
.full_small_nav
{
    line-height: 40px;

    width: 100%;
    height: 40px;
    margin-top: 40px;

    text-align: center;

    color: rgba(255,255,255,1);
}
.mid_marginbottom
{
    margin-bottom: 50px;
}
.right_padding
{
    padding-right: 20px;
}
.left_padding
{
    padding-left: 20px;
}
.left_border
{
    border-left: 1px solid rgba(0,0,0,.2);
}
.right_border
{
    border-right: 1px solid rgba(0,0,0,.2);
}


.user_nav_banner
{
    position: fixed;
    z-index: 1;
    top: 0;

    width: 100%;
    height: 60px;

    color: rgba(241,241,241,1);
    background-color: rgba(22,22,22,1);
    box-shadow: 0 0 5px 1px rgba(22,22,22,.5);
}
.user_nav_content
{
    width: 1400px;
    height: 60px;
    margin: 0 auto;
}
.user_nav_search_function
{
    float: left;

    height: 60px;
}
.user_nav_search_function > li
{
    line-height: 60px;

    float: left;

    height: 60px;
    padding: 0 20px;

    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
    text-align: center;
}
#web_icon
{
    padding: 10px;
}

#search_button
{
    padding: 10px;
}
#search_button img
{
    cursor: pointer;
    width: 30px;
    height: 30px;
}
button.serach_button_submit
{
    display: none;
}
input.search_input
{
    width: 240px;
    height: 30px;
    padding: 0 10px;

    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
}
input.search_input:focus
{
    border: 1px solid rgba(0,146,210,1);
    box-shadow: 0 0 5px 1px rgba(0,146,210,1);
}
.user_nav_user_function
{
    float: right;

    height: 60px;
}
.user_nav_user_function > li
{
    line-height: 60px;

    float: left;

    height: 60px;
    padding: 0 20px;

    text-align: center;
}
.avatar_banner
{
    overflow: hidden;

    width: 40px;
    height: 40px;

    border-radius: 50%;
}
.user_nav_user_function > li.avatar
{
    overflow: hidden;

    width: 60px;
    height: 60px;
    padding: 10px;

    border-radius: 50%;
}
.user_nav_user_function > li.avatar img
{
    width: 40px;
    height: 40px;
}
.user_main_banenr
{
    width: 100%;
    padding-top: 120px;
    padding-bottom: 60px;

    background-color: rgba(241,241,241,1);
}
.user_main_content
{
    display: flex;

    width: 1400px;
    min-height: 1000px;
    margin: 0 auto;

    justify-content: space-between;
}
.user_main_left_content
{
    overflow: hidden;

    width: 1000px;
    min-height: 1000px;
    padding: 40px 50px 0 50px;

    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(22,22,22,.1);
}
.user_main_right_content
{
    width: 350px;
    height: 1000px;

    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(22,22,22,.1);
}
.user_main_job_level1
{
    width: 900px;
    min-height: 28px;
    max-height: 144px;
    margin-top: 5px;

    border-left: 5px solid rgba(0,0,0,.7);
}
.user_main_job_level2
{
    width: 900px;
    min-height: 28px;
    max-height: 144px;
    margin-top: 5px;

    border-left: 5px solid rgba(0,0,0,.7);
}
.user_main_job_key
{
    width: 900px;
    min-height: 28px;
    max-height: 144px;
    margin-top: 5px;

    border-left: 5px solid rgba(0,0,0,.7);
}
.user_main_job_keylist
{
    display: flex;
    overflow: hidden;

    width: 900px;
    min-height: 28px;
    max-height: 144px;

    flex-wrap: wrap;
}
.user_main_job_keylist li
{
    font-size: 15px;
    line-height: 28px;

    height: 28px;
    margin-left: 20px;
    padding: 0 10px;

    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
    text-align: center;

    color: rgba(0,0,0,.8);
}
.user_main_job_keylist li:hover
{
    color: rgba(241,241,241,1);
    background-color: rgba(0,146,210,1);
}









.user_single_item
{
    top: 50px;

    float: left;
    overflow: hidden;

    width: 450px;
    height: 180px;
    margin-top: 50px;

    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;

    border-left: 5px solid rgba(0,0,0,.7);
}
.user_single_item:hover
{
    border-left: 5px solid rgba(0,146,210,1);
}
.user_single_item a
{
    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
}
.user_single_item a:hover
{
    color: rgba(0,146,210,1);
}
.user_single_item_jobinfo
{
    position: relative;

    float: left;

    width: 450px;
    height: 180px;
    padding: 0 20px 0 30px;
}

.user_main_single_jobinfo_button
{
    font-size: 14px;
    line-height: 32px;

    position: relative;

    width: 90px;
    height: 32px;

    cursor: pointer;
    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
    text-align: center;

    color: #fff;
    border-radius: 5px;
    background-color: rgba(0,146,210,.8);
}



















.index_single_item
{
    float: left;
    overflow: hidden;

    width: 900px;
    height: 180px;
    margin-bottom: 50px;

    -webkit-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;

    border-left: 5px solid rgba(0,0,0,.2);
}
.index_single_item:hover
{
    border-left: 5px solid rgba(0,146,210,1);
}
.index_single_item a
{
    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
}
.index_single_item a:hover
{
    color: rgba(0,146,210,1);
}
.index_single_item_jobinfo
{
    position: relative;

    float: left;

    width: 900px;
    height: 180px;
    padding: 0 20px 0 50px;
}
.index_single_item_jobinfo_salary
{
    font-size: 30px;
    line-height: 30px;

    position: absolute;
    top: 0;
    right: 42%;

    width: 200px;
    height: 30px;
}
.index_single_item_jobinfo_button
{
    font-size: 15px;
    line-height: 40px;

    position: absolute;

    width: 100px;
    height: 40px;

    cursor: pointer;
    -webkit-transition: all .1s;
         -o-transition: all .1s;
            transition: all .1s;
    text-align: center;

    color: #fff;
    border-radius: 5px;
    background-color: rgba(0,146,210,1);
}
.index_single_item_jobinfo_company_avatar
{
    position: absolute;
    width: 140px;
    height: 140px;
    right: 0;
    bottom: 0;
    background-color: red;
}
.index_single_item_jobinfo_company_info
{
    padding-left: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: pink;
    height: 140px;
    width: 270px;
}






















.paginate
{
    line-height: 80px;

    overflow: hidden;

    box-sizing: content-box;
    width: 900px;
    height: 80px;
    padding-top: 20px;
}
.pagination
{
    margin: 22px 0;
    padding-left: 0;

    border-radius: 4px;
}.pagination > li
{
    display: inline;
}.pagination > li > a,
.pagination > li > span
{
    line-height: 1.6;

    position: relative;

    float: left;

    margin-left: -1px;
    padding: 6px 12px;

    text-decoration: none;

    color: #3097d1;
    border: 1px solid #ddd;
    background-color: #fff;
}.pagination > li:first-child > a,
.pagination > li:first-child > span
{
    margin-left: 0;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}.pagination > li:last-child > a,
.pagination > li:last-child > span
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    z-index: 2;

    color: #216a94;
    border-color: #ddd;
    background-color: #eee;
}.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover
{
    z-index: 3;

    cursor: default;

    color: #fff;
    border-color: #3097d1;
    background-color: #3097d1;
}.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover
{
    cursor: not-allowed;

    color: #777;
    border-color: #ddd;
    background-color: #fff;
}.pagination-lg > li > a,
.pagination-lg > li > span
{
    font-size: 18px;
    line-height: 1.3333333;

    padding: 10px 16px;
}.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span
{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span
{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}.pagination-sm > li > a,
.pagination-sm > li > span
{
    font-size: 12px;
    line-height: 1.5;

    padding: 5px 10px;
}.badge,
.label
{
    font-weight: 700;
    line-height: 1;

    text-align: center;
    white-space: nowrap;
}.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span
{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span
{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}














.user_bottom_banner
{
    width: 100%;

    background-color: rgba(22,22,22,1);
}
.user_bottom_content
{
    width: 1400px;
    height: 200px;
    margin: 0 auto;
}
