html,
body,
div,
ul,
li
{
    font-family: 'Microsoft YaHei';
}
div,
li,
ul,
input,
select
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,
li
{
    list-style: none;
}
span.strong
{
    font-size: 22px;
    font-weight: 700;

    display: inline-block;

    margin-bottom: 20px;
}
span.float_left
{
    display: inline-block;
    float: left;
}
span.morebig
{
    font-size: 30px;

    color: #fff;
}

a.full_a
{
    display: inline-block;

    width: 100%;
    height: 100%;
}
.gray
{
    color: #aaa;
}
.blue
{
    color: rgba(0,146,210,1);
}
.big
{
    font-size: 28px;
}
.user_nav
{
    width: 100%;
    height: 70px;
    background-color: rgba(22,22,22,1);
}